{% extends "coderedcms/pages/base2.html" %}
{% load wagtailadmin_tags wagtailcore_tags wagtailimages_tags coderedcms_tags i18n wagtailsnippets_tags %}

{% block content %}

<div id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <h1>{{ self.title }}</h1>
            <p>{{ self.subtitle }}</p>
            <div class="scroll-icon">
                <a class="scrollTo" data-scrollTo="portfolio" href="{{ self.scroll_link }}"><img src="{{ self.scroll_icon_url }}" alt=""></a>
            </div>
        </div>
    </div>
    <video autoplay loop muted>
        <source src="{{ self.background_video.url }}" type="video/mp4"/>
    </video>
</div>
    <div class="full-screen-portfolio" id="portfolio">
        <div class="container-fluid">
            {% get_portfolio_items as portfolio_items %}
        {% for portfolio_item in portfolio_items %}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <a href="{{ portfolio_item.link }}">
                        <div class="thumb">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>{{ portfolio_item.title }}</h1>
                                    <p>{{ portfolio_item.description }}</p>
                                </div>
                            </div>
                            <div class="image">
                              <img src="{% if portfolio_item.image %}{{ portfolio_item.image.file.url }}{% else %}/static/img/default-portfolio.jpg{% endif %}" alt="{{ portfolio_item.title }}">
                              </div>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="page-heading">
    <div class="container">
        <div class="heading-content">
            <h2><em>Our</em> Services</h2>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        {% get_services as services %}
        {% for service in services %}
            <div class="col-md-4 col-sm-6">
                <div class="service-item">
                    <div class="icon">
                        <img src="{{ service.icon_url }}" alt="">
                    </div>
                    <div class="text">
                        <h4>{{ service.title }}</h4>
                        <p>{{ service.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="more-about-us-container">
    {% get_patient_journeys as patient_journeys %}
    {% for journey in patient_journeys %}
        <div class="more-about-us" style="background-image: url('{% if journey.background_image %}{{ journey.background_image.file.url }}{% else %}{{ journey.image_url_fallback }}{% endif %}'); background-size: cover; background-position: center; padding: 50px 0; color: #fff;">
            <div class="container">
                <div class="col-md-5 col-md-offset-7 col-sm-3 col-sm-offset-3">
                    <div class="content">
                        <h2 style="display: inline;">{{ journey.name }}</h2><h2 style="display: inline;">{{ journey.journey_title }}</h2>
                        <span>{{ journey.journey_subtitle }}</span>
                        <p>{{ journey.story }}</p>
                        <br>
                        <div class="simple-btn">
                            <a href="{{ journey.stories_link }}">{{ journey.read_more_text }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>




<div class="pricing-tables">
    <div class="container">
        {% get_pricing_items as pricing_items %}
        {% for pricing in pricing_items %}
            <div class="col-md-4 col-sm-6">
                <div class="table-item {% if pricing.is_premium %}premium-item{% endif %}">
                    <h4>{{ pricing.price }}</h4>
                    <span>{{ pricing.title }}</span>
                    <ul>
                        {% for feature in pricing.get_features_list %}
                            <li>{{ feature }}</li>
                        {% endfor %}
                    </ul>
                    <div class="simple-btn">
                        <a href="{{ pricing.details_link }}">click for more Detail</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
